<div class="centered-card">
  <mat-card style="min-width: 300px">
    <mat-card-title class="centered-card-text">Welcome to Library</mat-card-title>
    <mat-card-content class="centered-card-text">
      <mat-form-field appearance="fill">
        <mat-label>User Name</mat-label>
        <input matInput value="">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="centered-card-text">
      <button mat-flat-button color="primary" (click)="login()">Login</button>
    </mat-card-actions>
  </mat-card>
</div>
