<div class="centered-card">
  <mat-card style="min-width: 300px">
    <mat-card-title class="centered-card-text">Welcome to Library</mat-card-title>
    <form (ngSubmit)="login()" #loginForm="ngForm">
    <mat-card-content class="centered-card-text">
      <mat-form-field appearance="fill">
        <mat-label>User Id (it will be a number)</mat-label>
        <input matInput value="" required id="userName" [(ngModel)]="userId" name="userName"
               #user="ngModel">
      </mat-form-field>
      <div [hidden]="user.valid || user.pristine">
        Name is required
      </div>
    </mat-card-content>
    <mat-card-actions class="centered-card-text">
      <button mat-flat-button color="primary" type="submit" [disabled]="!loginForm.form.valid">Login</button>
    </mat-card-actions>
    </form>
  </mat-card>
</div>
